@reference '@opi/ds/tailwind';

.grid-24 {
	@apply gap-4 tablet:gap-5 laptop:gap-6 grid mb-4 tablet:mb-5 laptop:mb-6;
}

.grid-32 {
	@apply gap-4 tablet:gap-5 laptop:gap-8 grid laptop:mx-2 mb-4 tablet:mb-5 laptop:mb-8;
}
