@layer tw, ds;

@import 'tailwindcss' layer(tw);
@import '@opi/ds/tailwind';

body {
  @apply text-text-primary bg-white;

  font-family: var(--font-sans);
}

h1 {
  @apply text-h2-semibold;
}

h2 {
  @apply text-h3-semibold;
}

h3 {
  @apply text-b1-medium;
}

h4 {
  @apply text-b2-medium;
}

a:not(.p-button) {
  color: var(--color-text-link-default);
  outline-color: var(--color-stroke-focus);
  outline-offset: 4px;
  outline-width: 2px;
}

a:not(.p-button):hover {
  color: var(--color-text-link-hover);
}

a:not(.p-button):active {
  color: var(--color-text-link-pressed);
}
