@reference '@opi/ds/tailwind';

.hint a {
  @apply text-text-secondary;
}

.hint a:hover {
  @apply text-text-accent-hover;
}

.hint a:active {
  @apply text-text-accent-pressed;
}

.hint.disabled a,
.disabled a {
  @apply text-disabled;
}
